*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
    /* height: calc(100vh - 100px); */
    overflow: auto;
}


.header-container{
    position:fixed ;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}


.top> *{
    background-color: rgba(113, 113, 113, 0.35) ;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
}

.top{
    justify-content:flex-end;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}


.cards{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.singlecard{
    width:calc(100vw / 7 );
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;   
}

img{
    max-width: 100%;
    height: auto;
}

.username{
    position: absolute;
    background-color: rgba(113, 113, 113, 0.35) ;
    padding: 3px;
    bottom: 10px;
}

.footer-container{
    background-color: #222222;
    position:fixed ;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

.columns-footer{
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    
}

.col-1, .col-2, .col-3{
    display: flex;
    margin-left: 20px ;
}

.col-1, .col-2{
    margin-top: 10px;
}

i{  
    margin-bottom: 7px;    
}

h4{
    color: white;
}

.margin{
    margin-right: 20px;
    text-align: center;
    color: white;  
    margin-bottom: 7px;
}

.special{
    color: red;
    background-color: #4A4A4A;
    padding: 30px;
}

.green{
    color: green;
}

.arrow{
    margin-top: 20px;
}